/* Избегаем конфликтов стилей, добавив уникальный класс для профильной информации */
.profile-info {
    padding: 20px;
}

/* Стилизация для информации о пользователе */
.user-data {
    margin-bottom: 20px;
}

.user-data span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.achievements {
    margin-bottom: 20px;
}

.achievements img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.languages {
    display: flex;
    flex-wrap: wrap;
}

.languages img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* dark mode */
/* Избегаем конфликтов стилей, добавив уникальный класс для профильной информации */
.profile-info {
    padding: 20px;
}

/* Стилизация для информации о пользователе */
.user-data {
    margin-bottom: 20px;
}

.user-data span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #eee; /* Цвет текста */
}

/* Стили для блока достижений */
.achievements {
    margin-bottom: 20px;
}

.achievements img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* Стили для блока языков */
.languages {
    display: flex;
    flex-wrap: wrap;
}

.languages img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
