body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}
.schedule {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd; /* Цвет рамки */
    border-radius: 10px;
    overflow: hidden; /* Предотвращает выступание рамки за границы */
}

.week-selector {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.week-selector button {
    background-color: #346cdb;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}
.lesson_this{
    background: rgb(141, 217, 141);
}
table {
    width: 100%;
    border-collapse: collapse; /* Убирает пробелы между ячейками */
    margin-top: 10px;
}

thead {
    background-color: #346cdb;
    color: #fff;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd; /* Цвет рамки между ячейками */
}

th {
    font-weight: bold;
}



.container {
    display: flex;
}

.menu i {
    margin-right: 10px; /* Расстояние между иконкой и текстом */
}
.menu-text {
    display: inline-block;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #eee;
    color: grey;
    overflow: hidden;
    position: fixed;
    transition: width 0.5s;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #555;
    
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("img/avatar.png");
    border: 2px solid grey;
    background-size: cover; 
    margin-right: 10px;
}

.user-name {
    font-size: 16px;
}

.menu {
    padding: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: #343434;
    font-size: 16px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.disable{
    background: #7d7d7d;
}

.menu a:hover {
    background-color: #d3d3d3;
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
}
.user-menu {
    display: none;
    position: absolute;
    top: 60px; /* Подстройте значение в зависимости от вашего дизайна */
    right: 20px; /* Подстройте значение в зависимости от вашего дизайна */
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.user-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-menu li {
    margin-bottom: 10px;
}

.user-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: block;
}

.user-menu a:hover {
    background-color: #555;
}

.notification-section,
.study-section {
    margin-top: 20px;
}

.toggle-btn {
    background: rgb(65, 224, 102);
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 20%;
    top: 20vh; /* Используем 20% высоты видимой области */
    margin-top: 1vh;
    margin-bottom: 20px;
}


.toggle-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}
.close-menu {
    margin-left: 20%;
    top: 25vh; /* Используем 25% высоты видимой области */
}
.close-menu:hover {
    opacity: 0.8;
    cursor: pointer;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    
}


.course-panel#d1 {
    width: 250px;
    height: 150px;
    max-width: 400px;
    box-sizing: border-box;
    padding: 10px;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    padding: 10px 10px;
    margin: 4px 4px;
    color: #eee;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(1, 1, 1, 0.25);
}
.course-panel#d0 {
    width: 250px;
    height: 130px;
    max-width: 400px;
    background: linear-gradient(90deg, rgb(105, 102, 192) 0%, rgb(69, 69, 158) 0%, rgba(0,212,255,1) 100%);padding: 10px 10px;
    padding: 10px 10px;
    margin: 4px 4px;
    color: #eee;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(1, 1, 1, 0.25);
}
.course-panel#d2 {
    width: 250px;
    height: 150px;
    max-width: 400px;
    box-sizing: border-box;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 10px 10px;
    margin: 4px 4px;
    color: #eee;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(1, 1, 1, 0.25);
}
.course-panel#d2:hover{
    scale: 110%;
    transition: all .3s;
    cursor: pointer;
}
.course-panel#d3 {
    width: 250px;
    height: 150px;
    max-width: 400px;
    box-sizing: border-box;

    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding: 10px 10px;
    margin: 4px 4px;
    color: #eee;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(1, 1, 1, 0.25);
}
.course-panel#d3:hover{
    scale: 110%;
    transition: all .3s;
    cursor: pointer;
}
/* Стили для формы настроек */
.settings {
    max-width: 400px;

    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Стили для меток (labels) */
.settings label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

/* Стили для текстовых полей */
.settings input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Стили для кнопки */
.settings button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e9e9e9;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.settings button:hover {
    background-color: #000;
    color: #fff;
}

.course-panel#d1:hover{
    scale: 110%;
    transition: all .3s;
    cursor: pointer;
}
.course-panel#d0:hover{
    scale: 110%;
    transition: all .3s;
    cursor: pointer;
}

.course-panel#d4 {
    width: 250px;
    height: 150px;
    max-width: 400px;
    box-sizing: border-box;

    background-image: url('https://s3.amazonaws.com/thumbnails.thecrimson.com/photos/2015/09/02/223945_1307930.jpg.1500x1001_q95_crop-smart_upscale.jpg');
    padding: 10px 10px;
    background-size: cover; /* Подгоняет изображение к размеру div */
    background-position: center; /* Располагает изображение по центру */
    background-repeat: no-repeat; 
    margin: 4px 4px;
    color: #eee;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(1, 1, 1, 0.25);
}
.course-panel#d4:hover{
    scale: 110%;
    transition: all .3s;
    cursor: pointer;
}

.user-data span,
.achievements span,
.languages span {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}
.date-time {
    display: block;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    background: linear-gradient(264.46deg,rgba(255,125,63,.33) 24.39%,rgba(255,76,132,.33) 54.4%);
}
.tech-support {
    display: block;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    background: linear-gradient(97.29deg,rgba(94,181,242,.33) 16.14%,rgba(154,213,255,.33) 81.6%);
}
.achievements span::before,
.languages span::before {
    content: '▶ '; /* Добавляем символ маркера перед текстом */
    color: #4caf50; /* Цвет маркера */
    margin-right: 5px;
}

.achievements span,
.languages span {
    padding-left: 20px; /* Отступ текста от маркера */
}
.panel {
    background-color: #f0f0f0; /* Цвет фона */
    border-radius: 10px; /* Радиус закругления углов */
    padding: 20px; /* Внутренний отступ */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}
.notifications {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */

    gap: 30px; /* Добавляет промежуток между блоками */
    width: 100%;
}


.notification-block {
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 300px;
}

.notification-block:hover {
    transform: translateY(-5px);
}

.notification-img {
    width: 100%; /* Это свойство может быть сохранено или изменено в зависимости от ваших потребностей */
    max-width: 100%; /* Убедитесь, что максимальная ширина равна или больше требуемой ширины */
    height: auto; /* Это позволит сохранять пропорции картинки */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.notification-button {
    background-color: #dadada;
    color: #000000;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.notification-button:hover {
    background-color: #000000;
    color: white;
}
.video-container {
    position: relative;
    width: 70%;
    margin: auto;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#myVideo {
    width: 100%;
    height: 700px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none;
}

.overlay div {
    display: none;
    font-size: 14px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 4px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 2px;
}

.overlay:hover div {
    display: block;
}

#framePreview {
    position: absolute;
    width: 160px;
    height: 90px;
    border: 2px solid white;
    border-radius: 8px;
    display: none;
}

iframe{
    border: none;
    border-radius: 15px;
}

@media (max-width: 600px) {
    .course-panel {
        width: 100%;
    }
}

/* dark mode */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; /* Цвет фона */
    color: #eee; /* Цвет текста */
}

.schedule {
    margin: 20px;
    padding: 20px;
    border: 1px solid #333; /* Цвет рамки */
    border-radius: 10px;
    overflow: hidden; /* Предотвращает выступание рамки за границы */
    background-color: #333; /* Цвет фона блока */
}

.week-selector button {
    background-color: #346cdb;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.week-selector button:hover {
    background-color: #2a55a5; /* Цвет при наведении */
}

.lesson_this {
    background: rgb(141, 217, 141);
}

table {
    width: 100%;
    border-collapse: collapse; /* Убирает пробелы между ячейками */
    margin-top: 10px;
}

thead {
    background-color: #333; /* Цвет фона шапки таблицы */
    color: #fff; /* Цвет текста в шапке таблицы */
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #555; /* Цвет рамки между ячейками */
}

th {
    font-weight: bold;
}

.container {
    display: flex;
}

.menu i {
    margin-right: 10px; /* Расстояние между иконкой и текстом */
}

.menu-text {
    display: inline-block;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #222; /* Цвет боковой панели */
    color: #eee; /* Цвет текста */
    overflow: hidden;
    position: fixed;
    transition: width 0.5s;
}

.menu a {
    color: #eee; /* Цвет текста ссылок меню */
}

.menu a:hover {
    background-color: #555; /* Цвет фона при наведении на ссылку */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
    /* background-color: #333; Цвет фона основного содержимого */
    color: #eee; /* Цвет текста основного содержимого */
}

.toggle-btn {
    background: #2ecc71; /* Цвет кнопки переключения */
    color: #fff;
}

.toggle-btn:hover {
    background-color: #27ae60; /* Цвет при наведении на кнопку */
}

.close-menu {
    color: #eee;
}

.course-panel {
    border: 1px solid #555; /* Цвет рамки панелей курсов */
    background-color: #222; /* Цвет фона панелей курсов */
    color: #eee; /* Цвет текста в панелях курсов */
}

.course-panel:hover {
    transform: scale(1.05); /* Увеличение размера при наведении */
    transition: all 0.3s ease;
    cursor: pointer;
}
.date-time {
    display: block;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    background: linear-gradient(264.46deg, rgb(238 151 110) 24.39%, rgb(242 71 125) 54.4%);
}
.tech-support {
    display: block;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    background: linear-gradient(97.29deg, rgb(94 181 242) 16.14%, rgb(154 213 255 / 67%) 81.6%);
}


div.panel { 
    background-color: rgb(78 90 108 / 20%);
    
}
div.panel span {
    color: white;
}

.notification-block {
    background-color: #383d428a;
}